.civitai-helper-btn {
    width: 40px;
    height: 36px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0;             
    border-radius: 4px;
    cursor: pointer;

    background: var(--mantine-color-gray-filled);
    color: var(--mantine-color-white);
    border: calc(0.0625rem * var(--mantine-scale)) solid transparent;

    transition: background 0.15s;
    box-sizing: border-box; 
}


.civitai-helper-btn:hover {
    background: var(--mantine-color-gray-filled-hover);
}

.civitai-helper-btn img {
    width: 20px;
    height: 20px;
    filter: invert(1); 
}
